.dashboard-blue-card {
  background-color: var(--blue-transparent);
}

.dashboard-yellow-card {
  background-color: var(--yellow-transparent);
}

.dashboard-green-card {
  background-color: var(--green-transparent);
}

.dashboard-red-card {
  background-color: var(--red-transparent);
}

.dashboard-user-card {
  background-color: var(--gray-transparent);
}

.dashboard-user-card label {
  font-size: 13px;
}

.user-card {
  height: 100px;
}

.slick-arrow.slick-prev {
  color: var(--gray);
}
.slick-arrow.slick-next {
  color: var(--gray);
}
