.dashboard-blue-card {
  background-color: var(--blue);
}

.dashboard-yellow-card {
  background-color: var(--yellow);
}

.dashboard-green-card {
  background-color: var(--green);
}

.dashboard-red-card {
  background-color: var(--red);
}

.dashboard-user-card {
  background-color: var(--gray);
}

.dashboard-user-card label {
  font-size: 13px;
}

.user-card {
  height: 100px;
}

.slick-arrow.slick-prev {
  color: var(--gray);
}
.slick-arrow.slick-next {
  color: var(--gray);
}
