@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #007bff;
  --green: #129a56;
  --yellow: #ffac00;
  --red: #da0505;
  --gray: #273543;
  --yellow-hovered: #ffc654;
}

/* ::-webkit-scrollbar {
  width: 0px;
} */

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eef1f7 !important;
}

.edit-btn:hover {
  background-color: var(--yellow-hovered) !important;
}