@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #007bff;
  --blue-transparent: #007bffa6;
  --green: #16bb69;
  --green-transparent: #16bb69a6;
  --yellow: #ffb41f;
  --yellow-transparent: #ffb41fa6;
  --yellow-hovered: #ffb41fbf;
  --red: #ff3131;
  --red-transparent: #ff3131a6;
  --red-hovered: #ff31319f;
  --gray: #1a2d3f;
  --gray-transparent: #1a2d3fbf;
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eef1f7 !important;
}

.cursor-pointer{
  cursor: pointer;
}

.ant-btn-edit {
  background-color: var(--yellow) !important;
}

.ant-btn-edit:hover {
  background-color: var(--yellow-hovered) !important;
}

.ant-btn-primary {
  background-color: var(--blue);
}

.ant-btn-dangerous {
  background-color: var(--red) !important;
}

.ant-btn-dangerous:hover {
  background-color: var(--red-hovered) !important;
}
